*.log
*.pot
*.pyc
__pycache__/
__pycache__
*__pycache__*
*.py[cod]
*$py.class
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
**/migrations/**
!**/migrations
!**/migrations/__init__.py
db.sqlite3
/core/local_settings.py
.env
Makefile
media/*
static/
data/rabbitmq/
data/logs/